body {
  margin: 0;
}
.header {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 1024px) {
    margin: 0 auto;
    width: 800px;
  }
}
.icon {
  width: 40px;
  height: 40px;
}

.burger svg rect{
  fill:aqua
}

.burger {
  @media screen and (min-width: 760px) {
    display: none;
  }
}

.wide_navigation {
  display: none;

  @media screen and (min-width: 760px) {
    display: flex;
    justify-content: space-around;
    width: 300px;
  }
}